@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Noto Sans JP', sans-serif;
}

body,
html {
  background-color: #0c0c0c;
  height: 100vh;
}

button,
input,
a,
textarea {
  outline: none;
}

.container {
  width: 100%;
  position: relative;
  height: 100vh;
}

.select-content {
  user-select: none; /* CSS3 */
  -moz-user-select: none; /* Firefox */
  -webkit-user-select: none; /* Safari, Chrome */
  -ms-user-select: none; /* IE10 -  */
}
